<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610233595835-j6ihjfr0hlvttfg80l6nquri6mgeg5m4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610233595835-j6ihjfr0hlvttfg80l6nquri6mgeg5m4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>610233595835-fm5dca7i99tpri09smovv7ad20mmbmec.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDi0iFHYxT4KlLeqV1TM0l7xQausWj59-I</string>
	<key>GCM_SENDER_ID</key>
	<string>610233595835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoflutter</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-flutter-cou-623d1</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-flutter-cou-623d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610233595835:ios:6e3032d95f08658ea0b69e</string>
</dict>
</plist>